header{
    background-color: blue; color: white;
}

/*q2*/
.container{
    background-color: lightgray; color: black;
    p{
       color: red; 
    }
}
/*q3*/
.highlight{
    color: lightgreen;
}
/*q4*/
.main-content{
    background-color: yellow;
}
/*q5*/
#id1{
    text-align: center;
}
.anchor{
    text-decoration: none;
}